namespace: simple-demo
site:
  name: "dashboard-template"
  description: OpenSaaS Full-Stack Application for simple-demo
image:
  repository: registry.buildville.cloud/buildville/dashboard-template
  tag: '3'
  pullPolicy: Always
service:
  port: 80
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
  hosts:
    - host: simple-demo.buildville.cloud
  tls:
    enabled: true
  tlsSecretName: simple-demo-tls
healthCheck:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 10
githubRepo: https://github.com/logentica/simple-demo.git
